<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bem-vindo</ion-card-title>
      <ion-card-subtitle>Página de Login</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-label>Nome</ion-label>
      <ion-input type="text" placeholder="Digite seu nome"></ion-input>
      <ion-label>Senha</ion-label>
      <ion-input type="password" placeholder="Digite sua senha"></ion-input>
      <ion-button expand="block" fill="solid" (click)="abrirMenu()">Avançar</ion-button>
    </ion-card-content>
  </ion-card>
