<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>MENU</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Escolha uma opção</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-button expand="block" (click)="abrirCadastro()">Cadastrar</ion-button>
  <ion-button expand="block" (click)="abrirPagar()">Pagar</ion-button>
  <ion-button expand="block" (click)="abrirReceber()">Receber</ion-button>
</ion-content>