<ion-header [translucent]="true">
  <ion-toolbar style="--background: #2da10d; --color: white;">
     <ion-title>Recebimento</ion-title>
    <ion-back-button defaultHref="/menu" slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Novo Recebimento</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label> Cliente </ion-label>
      <ion-input type="text" placeholder="Nome do Cliente" [(ngModel)]="receber.cliente"></ion-input>
      <ion-label> Vencimento </ion-label>
      <ion-input type="date" placeholder="DD / MM / AAAA" [(ngModel)]="receber.vencimento"></ion-input>
      <ion-label> Recebimento </ion-label>  
      <ion-input type="date" placeholder="DD / MM / AAAA" [(ngModel)]="receber.recebimento"></ion-input>
      <ion-label> Valor </ion-label>
      <ion-input type="number" placeholder="R$ 0,00" [(ngModel)]="receber.valor"></ion-input>
      <ion-button expand="block" style="--background: #2da10d; --color: white;"(click)="Receber()">Gravar</ion-button>
      <ion-button expand="block" color="warning" fill="outline" (click)="limparCampos()">Limpar</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let recebimento of listaRecebimentos; let i = index">
    <ion-card-header>
      <ion-card-title><strong>Cliente:</strong> {{ recebimento.cliente }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Vencimento:</strong> {{ formatarData(recebimento.vencimento) }}</p>
      <p><strong>Recebimento:</strong> {{ formatarData(recebimento.recebimento) }}</p>
      <p><strong>Valor:</strong> R$ {{ recebimento.valor }}</p>
      <ion-button fill="outline" size="small" color="danger" (click)="excluir(i)">Deletar</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
