<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>Pagamento</ion-title>
    <ion-back-button defaultHref="/menu" slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Novo Pagamento</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label>Fornecedor</ion-label>
      <ion-input type="text" placeholder="Nome do Fornecedor" [(ngModel)]="usuario.fornecedor"></ion-input>
      <ion-label>Vencimento</ion-label>
      <ion-input type="text" placeholder="DD / MM / AAAA" [(ngModel)]="usuario.vencimento"></ion-input>
      <ion-label>Pagamento</ion-label>  
      <ion-input type="text" placeholder="DD / MM / AAAA" [(ngModel)]="usuario.pagamento"></ion-input>
      <ion-label>Valor</ion-label>
      <ion-input type="text" placeholder="R$ 0,00" [(ngModel)]="usuario.valor"></ion-input>
      <ion-button expand="block" color="danger" (click)="pagamento()">Gravar</ion-button>
      <ion-button expand="block" color="warning" fill="outline" (click)="limparCampos()">Limpar</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let pagamento of listaPagamentos; let i = index">
    <ion-card-header>
      <ion-card-title><strong>Fornecedor:</strong> {{ pagamento.fornecedor }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Vencimento:</strong> {{ pagamento.vencimento }}</p>
      <p><strong>Pagamento:</strong> {{ pagamento.pagamento }}</p>
      <p><strong>Valor:</strong> R$ {{ pagamento.valor }}</p>
      <ion-button fill="outline" size="small" color="danger" (click)="excluir(i)">Deletar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
