<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>Pagamento</ion-title>
    <ion-back-button defaultHref="/menu" slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Novo Pagamento</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="full" class="ion-margin-bottom">
      <ion-icon name="person-outline" slot="start" color="danger"></ion-icon>
        <ion-input label="Fornecedor" label-placement="floating" type="text" placeholder="Digite o nome do fornecedor" [(ngModel)]="pagar.fornecedor">
        </ion-input>
      </ion-item>
      <ion-item lines="full" class="ion-margin-bottom">
      <ion-icon name="calendar-outline" slot="start" color="danger"></ion-icon>
        <ion-input label="Vencimento" label-placement="floating" type="date" placeholder="Data de vencimento" [(ngModel)]="pagar.vencimento">
        </ion-input>
      </ion-item>
      <ion-item lines="full" class="ion-margin-bottom">
      <ion-icon name="calendar-outline" slot="start" color="danger"></ion-icon>
        <ion-input label="Pagamento" label-placement="floating" type="date" placeholder="Data de pagamento" [(ngModel)]="pagar.pagamento">
        </ion-input>
      </ion-item>
      <ion-item lines="full" class="ion-margin-bottom">
      <ion-icon name="cash-outline" slot="start" color="danger"></ion-icon>
        <ion-input label="Valor" label-placement="floating" type="number" placeholder="R$ 0,00" [(ngModel)]="pagar.valor">
        </ion-input>
      </ion-item>
      <ion-button expand="block" color="danger" (click)="Pagar()">Gravar</ion-button>
      <ion-button expand="block" color="warning" fill="outline" (click)="limparCampos()">Limpar</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let pagamento of listaPagamentos; let i = index">
    <ion-card-header>
      <ion-card-title><strong>Fornecedor:</strong> {{ pagamento.fornecedor }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Vencimento:</strong> {{ formatarData(pagamento.vencimento) }}</p>
      <p><strong>Pagamento:</strong> {{ formatarData(pagamento.pagamento) }}</p>
      <p><strong>Valor:</strong> R$ {{ pagamento.valor }}</p>
      <ion-button fill="outline" size="small" color="danger" (click)="excluir(i)">Deletar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
